.button-general {
    background-color: #0a0a1a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
}

.button-general:hover {
    transform: translateX(-2.5px);
    box-shadow: 0 4px 12px rgba(121, 27, 27, 0.3);}

.button-general:active {
    background: #cd0000;
}